extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg",alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus sagittis aliquam. Fusce vel sodales urna, ut semper neque. Nam ac vulputate orci. Mauris vel vestibulum justo. Ut tincidunt posuere lacus. Proin vulputate fringilla nisl, quis interdum odio condimentum facilisis. Duis finibus placerat tincidunt. Proin euismod risus eu dolor lobortis, et condimentum neque sagittis.  
                p Maecenas a condimentum libero. Vestibulum dignissim vestibulum nisl, id euismod nisl feugiat et. Suspendisse et iaculis arcu. Aenean quis consequat nibh. Sed molestie purus at velit rhoncus faucibus. Ut quis magna sed nunc mollis ultricies. Curabitur eget dolor vitae ex lobortis suscipit porttitor sed ante.
                p Maecenas ac luctus lacus, quis eleifend magna. Nullam mollis lorem nec efficitur cursus. Pellentesque odio neque, dapibus sed egestas eu, euismod nec mauris. Ut elementum magna in ligula facilisis, ut posuere ipsum volutpat. Nulla porta et odio in efficitur. Sed maximus velit arcu, in rhoncus orci scelerisque et. Maecenas in ligula sem. Integer ac magna eros. Nullam accumsan vitae sem vel aliquam.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg",alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin id tincidunt diam, rhoncus accumsan ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dapibus faucibus lectus sed ultrices. Sed est augue, posuere non dui malesuada, tincidunt porta turpis.
                .col-md-4
                    img(src="img/icono_destinos.svg",alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Proin id tincidunt diam, rhoncus accumsan ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dapibus faucibus lectus sed ultrices. Sed est augue, posuere non dui malesuada, tincidunt porta turpis.
                .col-md-4
                    img(src="img/icono_precios.svg",alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Proin id tincidunt diam, rhoncus accumsan ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus dapibus faucibus lectus sed ultrices. Sed est augue, posuere non dui malesuada, tincidunt porta turpis.
                    